#photo-gallery {
	height: 250px;
	position: relative;
	overflow: hidden;
	margin-bottom: 2em;
	margin-top: 2em;
}

#pg-wrapper {
	position: absolute;
	width: 165vw;
	height: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.pg-item {
	width: 15vw;
	display: inline-block;
	margin-right: 0.1em;
	margin-left: 0.1em;
}

.pg-item img {
	width: 100%;
	height: auto;
	transition: all 0.5s ease;
	cursor: pointer;
}

.pg-item img:hover {
	transform: scale(1.15);
}

.pg-control {
	position: absolute;
	height: 100%;
	width: 40px;
	cursor: pointer;
}

.pg-control span {
	position: absolute;
	font-size: 2em;
	color: white;
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.pg-control#left {
	left: 0;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, .0001) 100%);
}

.pg-control#right {
	right: 0;
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, .0001) 100%);
}

#pg-overlay {
	opacity: 0;
	z-index: -1;
	left: 0;
	top: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
}

#pg-popup {
	height: 80%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#pg-popup img {
	height: 100%;
}

.navbar > div {
	position: absolute;
}

#menu-icon {
	color: white;
	font-size: 2em;
	left: 1em;
	top: 50%;
	transform: translateY(-50%);
}

#isauw-brand {
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
}